@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet" />
    
    <style>
        #myDiagramDiv {
            display: block;
            position: relative;
            height: 500px;
            margin: auto;
            background-color: azure; /* #DAE4E4 */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="myDiagramDiv"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button class="btn btn-primary">Normal Tree View</button>
                <button class="btn btn-primary">Better Tree View</button>
            </div>
        </div>
    </div>
    <script src="~/Public/js/lib/go.js"></script>
    <script src="~/Public/js/main.js"></script>
</body>
</html>
