@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/js/lib/joint.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="diagram"></div>
            </div>
        </div>
    </div>
    
    <script src="~/Public/js/lib/jquery.min.js"></script>
    <script src="~/Public/js/lib/lodash.min.js"></script>
    <script src="~/Public/js/lib/backbone-min.js"></script>
    <script src="~/Public/js/lib/joint.min.js"></script>
    <script src="~/Public/js/mainJoint.js"></script>
</body>
</html>
