@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/js/lib/joint.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Public/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Public/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Public/css/component.css" />
    <script src="~/Public/js/lib/modernizr.custom.25376.js"></script>
</head>
<body>

    <div id="perspective" class="perspective effect-moveleft">
        <div class="container">
            <div class="wrapper">
                <div id="diagram"></div>
            </div>
        </div>
        <nav class="outer-nav right vertical">
            <a href="#" class="icon-home">Home</a>
            <a href="#" class="icon-news">News</a>
            <a href="#" class="icon-image">Images</a>
            <a href="#" class="icon-upload">Uploads</a>
            <a href="#" class="icon-star">Favorites</a>
            <a href="#" class="icon-mail">Messages</a>
            <a href="#" class="icon-lock">Security</a>
        </nav>
    </div>

    <script src="~/Public/js/lib/jquery.min.js"></script>
    <script src="~/Public/js/lib/lodash.min.js"></script>
    <script src="~/Public/js/lib/backbone-min.js"></script>
    <script src="~/Public/js/lib/joint.min.js"></script>
    <script src="~/Public/js/mainJoint.js"></script>
    <script src="~/Public/js/lib/classie.js"></script>
    @*<script src="~/Public/js/lib/menu.js"></script>*@
</body>
</html>
